node_modules
.env
coverage
coverage.json
typechain
.vscode
package-lock.json
runOperatorRegistry.sh
yarn.lock

#nvm
.nvmrc

#Hardhat files
hardhat-cache
artifacts
docgen

# Forge files
cache
forge-artifacts
out

deployment.local.json
deployments/local
deployments/localhost
deployments/tenderly

.DS_Store
.idea
lcov.info

# certora
certora/munged*
certora/diagrams*
.certora*
.certora*.json
**.last_conf*
certora-logs
.certora_internal*
certora_debug_log.txt
resource_errors.json
.zip-output-url.txt
timeoutsToInvestigate/*


runRiver.sh
