node_modules
.env
coverage
coverage.json
typechain
.vscode

#Hardhat files
hardhat-cache
artifacts
docgen

# Forge files
cache
forge-artifacts
out

deployment.local.json
deployments/local
deployments/localhost
deployments/tenderly

.DS_Store
.idea
lcov.info
