name: Certora verification

on:
  push:
    branches:
      - main
    paths:
      - "contracts/**"
      - "lib/**"
      - ".github/**"
      - "certora/**"
  pull_request:
    branches:
      - main
    paths:
      - "contracts/**"
      - "lib/**"
      - ".github/**"
      - "certora/**"

jobs:
  verify:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install forge dependencies
        run: forge install

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install certora
        run: pip3 install certora-cli

      - name: Install solc
        run: |
          pip install solc-select
          solc-select install 0.8.33
          solc-select use 0.8.33

      - name: Verify conf ${{ matrix.params.name }}
        run: >
          message="$(git log -n 1 --pretty=format:'CI ${{matrix.params.name}} %h .... %s')";
          certoraRun \
            certora/confs_for_CI/${{ matrix.params.command }} \
            --msg "$(echo $message | sed 's/[^a-zA-Z0-9., _-]/ /g')"
        env:
          CERTORAKEY: ${{ secrets.CERTORA_KEY }}

    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        params:
          - { name: AllowlistV1, command: "AllowlistV1.conf" }
          - { name: OperatorRegistryV1_1, command: "OperatorRegistryV1_1.conf" }
          - { name: OperatorRegistryV1_2_2loops, command: "OperatorRegistryV1_2_2loops.conf" }
          - { name: OperatorRegistryV1_2_4loops_v1, command: "OperatorRegistryV1_2_4loops_v1.conf" }
          - { name: OperatorRegistryV1_2_4loops_v2, command: "OperatorRegistryV1_2_4loops_v2.conf" }
          - { name: OperatorRegistryV1_3, command: "OperatorRegistryV1_3.conf" }
          - { name: RedeemManagerV1, command: "RedeemManagerV1.conf" }
          - { name: RiverV1, command: "RiverV1.conf" }
          - { name: SharesManagerV1, command: "SharesManagerV1.conf" }
