name: Coverage

on:
  push:
    branches:
      - main
    paths:
      - "contracts/**"
      - "lib/**"
      - ".github/**"
      - "codecov.yml"
  pull_request:
    branches:
      - main
    paths:
      - "contracts/**"
      - "lib/**"
      - ".github/**"
      - "codecov.yml"

jobs:
  run-coverage:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run coverage
        run: forge coverage --report lcov && mv lcov.info lcov.txt
        env:
          FOUNDRY_FUZZ_RUNS: 1500
          MAINNET_FORK_RPC_URL: ${{ secrets.MAINNET_FORK_RPC_URL }}

      - name: Update lcov report
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./lcov.txt
          fail_ci_if_error: true
          verbose: false
