name: Deploy Scripts Checks

on:
  push:
    paths:
      - ".github/**"
      - "contracts/**"
      - "deploy/**"
      - "lib/**"
      - "scripts/**"
      - "ts-utils/**"
      - "package.json"
      - "yarn.lock"
      - "hardhat.config.ts"

jobs:
  run-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: install foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: cache node_modules
        uses: actions/cache@v2
        with:
          path: |
            ./node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: install node dependencies
        run: yarn

      - name: run deployment on local fork
        uses: BerniWittmann/background-server-action@v1
        with:
          command: env RPC_URL=http://localhost:8545 PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80 yarn hh deploy --network mainnet
          start: anvil --fork-url ${{ secrets.MAINNET_FORK_RPC_URL }}
