name: Format Checks

on:
  push:
    paths:
      - "contracts/**"
      - ".github/**"

jobs:
  run-format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: install foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: v1.4.3

      - name: run formatting checks
        run: forge fmt --check 
