name: Heavy Tests

on:
  push:
    paths:
      - "contracts/**"
      - "lib/**"
      - ".github/**"

jobs:
  run-heavy-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: install foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly-de33b6af53005037b463318d2628b5cfcaf39916

      - name: run tests
        run: forge test --force -vvv --gas-report --match-contract HEAVY_FUZZING
        env:
          FOUNDRY_FUZZ_RUNS: 1000
          MAINNET_FORK_RPC_URL: ${{ secrets.MAINNET_FORK_RPC_URL }}
