name: Mythril
on:
  push:
    paths:
      - "contracts/**"

jobs:
  run-mythril:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        contract:
          - { file: River.1.sol, name: RiverV1}
          - { file: Oracle.1.sol, name: OracleV1 }
          - { file: Withdraw.1.sol, name: WithdrawV1}
          - { file: Allowlist.1.sol, name: AllowlistV1}
          - { file: Firewall.sol, name: Firewall}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Mythril analysis
        uses: ./actions/mythril
        with:
          contract: "./contracts/src/${{ matrix.contract.file }}:${{ matrix.contract.name }}"

      - name: Rename output artifact
        run: mv mythril_output.md ${{ matrix.contract.name }}.mythril.md
        
      - name: Upload output artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.contract.name }}.mythril.md
          path: ${{ matrix.contract.name }}.mythril.md
