name: Tests

on:
  push:
    branches:
      - main
    paths:
      - "contracts/**"
      - "lib/**"
      - ".github/**"
  pull_request:
    branches:
      - main
    paths:
      - "contracts/**"
      - "lib/**"
      - ".github/**"

jobs:
  run-tests:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          persist-credentials: true

      - name: Install foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run tests
        run: make test
        env:
          FOUNDRY_FUZZ_RUNS: 1500
          MAINNET_FORK_RPC_URL: ${{ secrets.MAINNET_FORK_RPC_URL }}
